[submodule "src/library"]
	path = src/library
	url = https://github.com/kutegram/library.git
[submodule "src/slidingstackedwidget"]
	path = src/slidingstackedwidget
	url = https://github.com/kutegram/SlidingStackedWidget
