*.user
bld.inf
moc
rcc
ui
Makefile
client_reg.rss
client_installer.pkg
client_exe.mmp
client.rss
client.loc
client_template.pkg
client_stub.pkg
Kutegram_reg.rss
Kutegram_installer.pkg
Kutegram_exe.mmp
Kutegram.rss
Kutegram.loc
Kutegram_template.pkg
Kutegram_stub.pkg
.make.cache
*.sis
ABLD.BAT
client_0xE0713D51.mmp
*.mk
*.autosave
*.3pre1
*.pkg
*.rss
*.loc
*.qm
*.mmp
obj
Kutegram
kutegram
client
debian
configure-stamp
build-stamp
*.deb
*.changes
selfsigned.key
selfsigned.cer
data.tar.gz
Symbian1Qt473
