[submodule "library"]
	path = library
	url = https://github.com/kutegram/library.git
[submodule "SlidingStackedWidget"]
	path = SlidingStackedWidget
	url = https://github.com/kutegram/SlidingStackedWidget
