[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Kutegram
Exec=/opt/Kutegram/bin/Kutegram
Icon=/usr/share/icons/hicolor/64x64/apps/client64.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
